body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

section {
    height: 500px;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.name-highlight {
    color: orange;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}